{% extends 'base.html' %}
{% block container %} 

  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы {{ user.mail }}</h1>
        {% if not orders %}
        <span class="h4 font-weight-bold">Вы еще ничего не заказывали</span>
        {% endif %}
       {% for i in orders %}
        <div class="mt-4 card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ i.date }}</span>
                  <span class="h5">- {{ i.total }}р</span>
                  {% if i.status == 'a' %}
                  <span class="badge rounded-pill bg-info text-white">Заказ в процессе доставки</span>
                  {% elif i.status == 'b' %}
                  <span class="badge rounded-pill bg-success text-white">Заказ закрыт</span>
                  {% endif %}
                </div>

              </div>
            </li>
            <div class="card-body">
              <div class="row">
                {% for j in i.dishes %}
                <p class="col-4 text-muted">{{ j.title}} </p>
                <p class="col-2 text-muted">1 </p>
                <p class="col-6 text-muted">{{ j.price }} </p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>
  
{% endblock %}